.App {
  text-align: center;
  background-color: lightgray;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h2 {
  padding-top: 10pt;
  padding-left: 20pt;
  padding-right: 20pt;
}

h4 {
  padding-top: 10pt;
  padding-left: 20pt;
  padding-right: 20pt;
}

p {
  padding-left: 20pt;
  padding-right: 20pt;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#container {
  background-color: white;
  padding: 20pt;
}

#outer_container {
  background-color: lightgray;
  padding: 25pt;
}